@font-face {
    font-family: 'KGBlankSpaceSKetch';
    src: url("fonts/KGBlankSpaceSketch.ttf")
}

:root {
    --font-size-tab: 2.2rem;
    --font-weight-tab: normal;
    --font-clr-tab: #fff;
    --fg-opacity: 0.90;
    --fg-background-clr: #1f1f1f;
    --fg-text-clr: #fff;
    --bg-opacity: 0.90;
}


/*** *CSS Reset ***/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'KGBlankSpaceSketch', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*** *Page Styles ***/

#content {
    background-image: url("images/pizzeria.jpg");
    background-repeat: no-repeat;
    background-position: 50% 55%;
    background-size: cover;
    opacity: var(--bg-opacity);
    min-height: 100vh;
}

.page_nav>.parent_nav {
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--fg-background-clr);
    opacity: var(--fg-opacity);
    align-items: center;
}

.page_nav>.parent_nav>div>li {
    position: relative;
    list-style: none;
    transition: all 0.1s ease-in-out;
}

.page_nav>.parent_nav>div>li:hover {
    scale: 1.15;
}

.page_nav>.parent_nav>div>li>a {
    color: var(--font-clr-tab);
    font-size: var(--font-size-tab);
    font-weight: var(--font-weight-tab);
}

.page_nav>.parent_nav>div>li>a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scale(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.page_nav>.parent_nav>div>li>a:hover::after {
    transform: scale(1);
    transform-origin: center;
}

.restaurant_title {
    font-size: var(--font-size-tab);
    color: var(--font-clr-tab);
    font-weight: var(--font-weight-tab);
}

.center_links {
    flex: 0 1 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

.tab_content {
    margin: 1rem auto 0 auto;
    border-radius: 10px;
    width: min(50vw, 70vw);
    background-color: var(--fg-background-clr);
    color: var(--fg-text-clr);
    opacity: var(--fg-opacity);
    font-size: 2.5rem;
    padding: 3rem;
    position: relative;
    right: 0;
    left: 0;
    overflow-y: auto;
}

.display_content {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.menu_img {
    width: 300px;
    height: 100%;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.gallery_img {
    width: 400px;
    height: 400px;
}